@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    user-select: none;
}
/* color root */
:root {
    --color-1: #262b3f;
    --color-2: #fff;
    --color-3: #1e2337;
    --color-4: rgb(255,255,255,.5);
    --color-5: greenyellow;

}

body{
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100%;
    background: #1e2337;   
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}
header{
    width: 85%;
    height: 95%;
    box-shadow: 0px 0px 30px rgb(20, 19,19);
    /* background: var(--color-3) ; */
    border-radius: 10px;
    display: flex;
}

header aside, 
article{
    width: 85%;
    height: 100%;
    border-radius:0px 10px 10px 0px;
    /* border: 1px solid #fff; */
    background: var(--color-3) ;
}

header aside{
    width: 15%;
    border-radius: 10px 0px 0px 10px;
    background:#663da6 ;
}
header aside h1{
    width: 100%;
    height: 10%;
    /* border: 1px solid #fff; */
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 22px;
    font-weight: 800;
}

header aside h1 i{
    margin-left: 5px;
}
header aside button{
    display: block;
    margin: auto;
    border: none;
    outline: none;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-size:12px;
    padding: 6px;
    background: #270458;
    color: #fff;
    margin-top: 5px;
    transition: 0.3s linear;
}
header aside button:hover{
    background:#1e2337;
}

header aside ul{
    position: relative;
    margin-top: 10px;
    list-style-type: none;
    margin-left: 12px;
    padding-bottom: 20px;

}
header aside ul::before{
   content: '';
   position: absolute;
   width: 88%;
   height: 2px;
   background: rgb(184,184,184, .1);
   bottom: 0;
}

header aside ul li{
    padding: 2.5px 0px;
}
header aside ul li a{
    text-decoration: none;
    color: rgb(255,255,255, .7);
    font-size: 12px;
    font-weight: 400;
    transition: .3s linear;
}
header aside ul li a:hover{
    color: #fff;
}
header aside ul li a i{
   margin-right: 14px;
}

/* list item active */
header aside ul .active_li{
    border-right: 3px solid #fff;
}
header aside ul .active_li a{
    color: #fff;
    font-size: 13px;
}

/* subscription box start */

header aside .subscription{
    width: 99%;
    height: auto;
    margin-top: 15px;
    margin-left: 12px;
}
header aside .subscription h5{
    color: #fff;
    font-size:12px ;
    font-weight: 600;
}
header aside .subscription .cards{
    width: 88%;
    height: 220px;
    /* border: 1px solid #fff; */
    overflow-x:auto;
}
header aside .subscription .cards::-webkit-scrollbar{
    width:5px;
    background: rgb(184,184,184, .2);  
    visibility: hidden; 
    transition: .3s linear;
}
header aside .subscription .cards::-webkit-scrollbar-thumb{
    background: rgb(184,184,184, .7);  
    border-radius:20px; 
    visibility: hidden;
    transition: .3s linear;
}
header aside .subscription .cards:hover::-webkit-scrollbar-thumb{    
    visibility:visible;
}
header aside .subscription .cards:hover::-webkit-scrollbar{    
    visibility:visible;
}
header aside .subscription .cards .card{
    margin-bottom: 10px;
    /* border: 1px solid #fff; */
    display: flex;
    align-items: center; 
}

header aside .subscription .cards .card .img_bx{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    position: relative;
}
header aside .subscription .cards .card .img_bx::before{
    content: '';
    position: absolute;
    width: 7px;
    height: 7px;
    background: greenyellow;
    border-radius: 50px;
    border: 3px solid #663da6;
    top: 13px;
    right: -5px;
}
header aside .subscription .cards .card .img_bx img{
    width: 35px;
    height: 35px;
    border-radius: 50%;
}
header aside .subscription .cards .card .content{
    margin-left: 5px;

}
header aside .subscription .cards .card .content h6{
    width: 95px;
    color: #fff;
    font-size: 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden; 
}
header aside .subscription .cards .card .content p{
    width: 95px;
    color:rgb(255,255,255,.5);
    font-size: 8px;
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden; 
}




header article nav{
    width: 100%;
    height: 10%;
    /* border: 1px solid #fff; */
    border-radius:0px 10px 0px 0px;
    padding: 0px 30px ;
    display: flex;
    align-items: center;
    justify-content:space-between;
    background: var(--color-1);
}
header article nav button{
   padding: 7px 20px;
   border-radius: 5px;
   border: none;
   outline: none;
   color: #fff;
   background: #663da6;
   font-family: 'Poppins', sans-serif;
   font-weight: 400;
}
header article nav .search{
    width: 40%;
    background: var(--color-3);
    padding: 4px 10px;
    transition: .3s linear;
}
header article nav .search input{
    width:93%;
    background: none;
    border: none;
    outline: none;
    padding: 0px 10px;
    color: var(--color-2);
    transition: .5s linear;
}
header article nav .search input::placeholder{
    color: var(--color-4);
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    transition: .5s linear;
}
header article nav .search i{
    color: var(--color-4);
    font:13px;
    transition: .5s linear; 
}
header article nav .right_bx{
    width: 37%;
    /* border: 1px solid #fff; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header article nav .right_bx i{
    color: var(--color-4);
    font-size: 20px;
    cursor: pointer;
    transition: .5s linear;
}
header article nav .right_bx i:hover{
    color:#fff;
}
header article nav .right_bx button{
    padding: 0px 20px;
    background: rgb(184,184,184, .2);
    border: 2px solid rgb(184,184,184, .2);
    display: flex;
    align-items: center;
    font-size: 12px;
    color: #fff;
    transition: .5s linear;
}
header article nav .right_bx button #battery_icon{
    cursor: default !important;
}
header article nav .right_bx button span{
    margin: -2px 0px 0px 10px;
}

/* battery active class */
header article nav .right_bx .active_battery {
    background: #663da6;
    box-shadow: 0px 0px 20px #663da6;
}

header article nav .right_bx .user_data{
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: .3s linear;
    z-index: 1;
}
header article nav .right_bx .user_data h6{
   width: 70px;
   color: var(--color-4);
   font-weight: 600;
   font-size: 9px;
   text-overflow: ellipsis;
   white-space: nowrap;
   overflow: hidden;
   transition: .5s linear;
   padding-left: 20px;
}
header article nav .right_bx .user_data h5{
    color:#fff;
    background: #663da6;
    border-radius: 50%;
    padding:5px 9px ;
    margin: 0px 5px ;
    transition: .5s linear;
 }
header article nav .right_bx .user_data i{
    color: var(--color-2);
    font-size: 12px;
    transition: .5s linear;
}
header article nav .right_bx .user_data:hover i{
   transform: rotate(180deg);
}
header article nav .right_bx .user_data .card{
    position: absolute;
    width: 130px;
    height: 0px;
    border-radius: 10px;
    background:rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(10px);
    top:45px;
    right: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow:hidden;
    opacity: 0;
    -webkit-box-shadow: inset 1px 1px 66px -26px #663da6;
-moz-box-shadow: inset 1px 1px 66px -26px #663da6;
box-shadow: inset 1px 1px 66px -26px #663da6;
    transition: 0.4s cubic-bezier(0.4, 0, 0.2, 1);  
}
header article nav .right_bx .user_data:hover .card{
    height: 200px;
    opacity: 1;
    overflow: unset;
}
 header article nav .right_bx .user_data .card::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(184,184,184, .1);
    backdrop-filter: blur(5px);
    border-radius: 10px;
    z-index: -1;
 }
/* header article nav .right_bx .user_data .card::after{
    content: '';
    position: absolute;
    border-top: 15px solid rgb(184,184,184, .1);
    border-right: 15px solid transparent;
    border-bottom: 15px solid transparent;
    top:-10px;
    right: 20px;
    transform: rotate(45deg);
} */
header article nav .right_bx .user_data .card img{
    width: 35px;
    height: 35px;
    border-radius: 50px;
    margin-top: 10px;
}
header article nav .right_bx .user_data .card h6{
   width:unset;
   overflow:unset;
   text-align: center;
   padding-right: 15px;
   display: block;
   margin-top:8px;
   color: #fff;
   transition: .5s linear;
}
header article nav .right_bx .user_data .card p{
   color: var(--color-2);
   font-size: 9px;
   color: rgba(255, 255, 255, 0.5);
   margin-bottom: 10px;
   transition: .5s linear;
 }
header article nav .right_bx .user_data .card .card_gta_img{
   width: 110px;
   height: 60px;
   border-radius: 15px;
   margin: 15px;
}



header article .game1{
    position: relative;
    width: 100%;
    height: 200px;
    /* border: 1px solid #fff; */
    padding: 0px 30px ;
    margin-top: 20px;
}

header article .game1 h3{
    color: var(--color-2);
    font-size: 14px;
    font-weight: 600;
    transition: .5s linear;
}
header article .game1 .game_bx{
    width: 100%;
    height: 175px;
    /* border: 1px solid #fff; */
    display: flex;
    align-items: center;
    overflow: auto;
    scroll-behavior:smooth;
}
header article .game1 .game_bx::-webkit-scrollbar{
    display: none;
}
header article .game1 .game_bx .card{
    min-width: 220px;
    height: 160px;
    /* border: 1px solid #fff; */
    border-radius: 10px;
    margin-top: 10px;
    margin-right: 20px;
}
header article .game1 .game_bx .card:nth-last-child(1){
    margin-right: 0px;
}
header article .game1 .game_bx .card img{
    width: 100%;
    height: 75%;
    border-radius: 5px;
}
header article .game1 .game_bx .card .content{
    width: 100%;
    height: 25%;
    /* border:1ps solid #fff; */
    display: flex;
    justify-content: space-between;
    color: var(--color-2);
    margin-top: -5px;
    transition: .5s linear;
}
header article .game1 .game_bx .card .content .left{
    color: var(--color-2);
    transition: .5s linear;
}
header article .game1 .game_bx .card .content .left h5{
    font-size: 12px;
    font-weight: 500;
    width: 150px;
    overflow:hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
header article .game1 .game_bx .card .content .left p{
    font-size: 8px;
    font-weight: 500;
    width: 150px;
    overflow:hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: var(--color-4);
}
header article .game1 .game_bx .card .content h6{
    font-size: 9px;
    font-weight: 500;
    color: var(--color-4);
    margin-top: 5px;
    transition: .5s linear;
}
header article .game1 .btns{
    position: absolute;
    right: 3%;
    top:0;
    display: flex;
    align-items: center;
    color: var(--color-4);
    transition: .5s linear;
}
header article .game1 .btns i{
    margin-left: 5px;
    cursor: pointer;
    transition: .5s linear;
}
header article .game1 .btns i:hover{
    color: var(--color-2);
}



header article .game2{
    position: relative;
    width: 100%;
    height: 270px;      /* hight */
    padding: 0px 30px;
}
header article .game2 h3{
    color:var(--color-2) ;
    font-size: 12px;
    font-weight: 600;
    transition: .5s linear;
}

header article .game2 .games_bx{
    width: 100%;
    height: 250px;   /* hight */
    margin-top: 8px;
    /* border: 1px solid #fff; */
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    overflow-y: auto;
}
header article .game2 .games_bx::-webkit-scrollbar{
   width: 5px;
   border-radius: 20px;
   background: rgb(184,184,184, .2);
   visibility: hidden;

}
header article .game2 .games_bx::-webkit-scrollbar-thumb{
    border-radius: 20px;
    background: rgb(184,184,184, .7);
    visibility: hidden;
 }
header article .game2 .games_bx:hover::-webkit-scrollbar{
    visibility: visible;
}
header article .game2 .games_bx:hover::-webkit-scrollbar-thumb{
    visibility: visible;
}
header article .game2 .games_bx .card{
    width: 125px;
    height: 175px;
    margin: 0px 5px 11px 0px;
    /* border: 1px solid #fff; */
}
header article .game2 .games_bx .card img{
   width: 100%;
   height: 80%;
   border-radius: 2px;
}
header article .game2 .games_bx .card .content{
    width: 100%;
    height: 20%;
    overflow: hidden;
 }
 header article .game2 .games_bx .card .content h6{
    width: 100%;
    color: var(--color-2);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    transition: .5s linear;
 }
 header article .game2 .games_bx .card .content p{
    width: 100%;
    font-size: 9px;
    font-weight: 500;
    color: var(--color-4);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    transition: .5s linear;
 }


/* 2nd downlode page  */

header article .downlode_realted_box{
    width: 100%;
    height: 90%;
    /* border: 1px solid wheat; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 30px;
}

header article .downlode_realted_box .downlode_box, .realted_box{
    width: 45%;
    height: 100%;
    /* border: 1px solid wheat; */
}
header article .downlode_realted_box .downlode_box{
    width: 55%;
    padding: 0px 20px;

}
header article .downlode_realted_box .downlode_box .img_video_bx{
    position: relative;
    width:100%;
    height: 50%;
    /* border: 1px solid #fff; */
    border-radius:20px;
    margin-top: 20px;
    transition: 1s linear;   
}
header article .downlode_realted_box .downlode_box .img_video_bx h6{
   width: 100%;
   height: 100%;
   border-radius: 20px;
   background: url("https://variety.com/wp-content/uploads/2019/02/pubg-mobile-1.png?w=1000&h=620&crop=1") no-repeat center bottom/cover;
   transition: 1s linear;
}
header article .downlode_realted_box .downlode_box .img_video_bx video{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    border-radius: 20px;
}
header article .downlode_realted_box .downlode_box .img_video_bx h4{
   margin-top: 30px;
   color: var(--color-2);
   font-size: 16px;
   font-weight: 500;
}
header article .downlode_realted_box .downlode_box h4{
    margin-top: 20px;
    color: var(--color-2);
    font-size: 16px;
    font-weight: 500;
 }

header article .downlode_realted_box .downlode_box ul{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 20px;
}
header article .downlode_realted_box .downlode_box ul{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 0px;
}
header article .downlode_realted_box .downlode_box ul li{
   width: 50%;
   color: var(--color-4);
   font-size: 10px;
   font-weight: 400;
   padding: 5px 0px;
   letter-spacing: .2px;
}
header article .downlode_realted_box .downlode_box ul li:nth-child(){
    padding-left: 20px;
 }

header article .downlode_realted_box .downlode_box ul li i{
    padding-right: 5px;
}

header article .downlode_realted_box .downlode_box .btns{
    display: flex;
    align-items: center;
    margin-top: 20px;
}

header article .downlode_realted_box .downlode_box .btns a{
    text-decoration: none;
    padding: 5px 20px;
    background-color: #663da6;
    color: #fff;
    font-size: 13px;
    font-weight: 500;
    margin-right: 10px;
    border-radius: 5px;
    transition: .3s linear;
    display: flex;
    align-items: center;
}
header article .downlode_realted_box .downlode_box .btns a:hover{
    background: #262b3f;
}
header article .downlode_realted_box .downlode_box .btns a i{
    margin-right: 5px;
    font-size: 18px;
}


header article .downlode_realted_box .realted_box h4{
   margin-top: 20px;
   color: var(--color-2);
   font-size: 14px;
   font-weight: 500;
   padding: 0px 8px;
}
header article .downlode_realted_box .realted_box .cards{
    width: 100%;
    height: 50%;
    /* border: 1px solid #fff; */
    padding: 10px 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    overflow: auto;
}
header article .downlode_realted_box .realted_box .cards::-webkit-scrollbar{
  width: 5px;
  background: rgb(184,184,184, .2);
  border-radius: 20px;
  visibility: hidden;
}
header article .downlode_realted_box .realted_box .cards::-webkit-scrollbar-thumb{
    width: 5px;
    background: rgb(184,184,184, .8);
    border-radius: 20px;
    visibility: hidden;
}
header article .downlode_realted_box .realted_box .cards:hover::-webkit-scrollbar{
    visibility: visible;
}
header article .downlode_realted_box .realted_box .cards:hover::-webkit-scrollbar-thumb{
    visibility: visible;
}
header article .downlode_realted_box .realted_box .cards .card{
    width: 49%;
    height: 49%;
    /* border: 1px solid #fff; */
    margin-bottom: 10px;
}
header article .downlode_realted_box .realted_box .cards .card img{
   width: 100%;
   height: 80%;
   border-radius: 5px;
}
header article .downlode_realted_box .realted_box .cards .card .content{
    width: 100%;
    height: 20%;
    margin-top: -5px;
    padding: 5px;
    /* margin:5px; */
    /* border-radius: 10px; */
    display:flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: var(--color-1); */
 }
 header article .downlode_realted_box .realted_box .cards .card .content h6{
   color: var(--color-2);
   font-size: 10px;
   font-weight: 400;
   /* margin-top: -5px; */
 }
 header article .downlode_realted_box .realted_box .cards .card .content p{
    color: var(--color-2);
    font-size: 8px;
    /* margin-right: 8px; */
  }


header article .downlode_realted_box .realted_box .join_new_member{
   width:100%;
   height: 30%;
   /* border: 1px solid #fff; */
   margin-top:20px;
   overflow: auto;
}
header article .downlode_realted_box .realted_box .join_new_member::-webkit-scrollbar{
    display:none;
}
header article .downlode_realted_box .realted_box .join_new_member .card{
    width:100%;
    height: 30%;
    /* border: 1px solid #fff; */
    /* margin-top:10px; */
    display: flex;
    align-items: center;
}
header article .downlode_realted_box .realted_box .join_new_member .card img{
    border-radius:10px ;
    width: 45px;
    height: 40px;
    margin-left: 5px;
}

header article .downlode_realted_box .realted_box .join_new_member .card .content{
    margin-left: 15px;
    width: 95%;

}
header article .downlode_realted_box .realted_box .join_new_member .card .h6_price{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    
}
header article .downlode_realted_box .realted_box .join_new_member .card .h6_price h5{
    color: var(--color-2);
    font-weight: 500;
    width: 150px;
    /* border: 1px solid #fff;  */
}
header article .downlode_realted_box .realted_box .join_new_member .card .h6_price span{
    color: var(--color-5);
    font-weight: 400;
    width: 110px;
    /* border: 1px solid #fff;  */
    font-size: 10px;
}
header article .downlode_realted_box .realted_box .join_new_member .card .h6_price h6{
    color: var(--color-5);
    font-weight: 600;
}
header article .downlode_realted_box .realted_box .join_new_member .card .content p{
    color: var(--color-4);
    font-size: 12px;
    font-weight: 400;
}






















 